<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>lms</title>
</head>
<body>
<div th:fragment="fragment-body-menu">
    <div>
        <a href="/">home</a>
        |
        <a href="/board/notice">공지사항</a>
        |
        <a href="#">쪽지</a>
        |
        <a href="#">로그인</a>
        |
        <a href="/logout">로그아웃</a>
    </div>
    <hr/>
</div>

<div th:fragment="fragment-admin-body-menu">
    <a href="/admin/main.do">관리자 메인</a>
    |
    <a href="/admin/member/list.do">회원 관리</a>
    |
    <a href="/admin/category/list.do">카테고리 관리</a>
    |
    <a href="/admin/course/list.do">강좌 관리</a>
    |
    <a href="/logout">로그아웃</a>
</div>
</body>
</html>